@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
		width:80%;
		margin:auto;
}

h1{
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
}

p{
	font-weight: bold;
}

body {
	background-color: #C0C0C0;
}

#row1, #row2, #row3 {
	font-size: 20px;
}

#header {
	width: 30%;
}

a {
	color: #000;
	font-family: monospace;
	text-decoration: none;
	font-weight: none;
	font-size: 18pt;
}

a:link {
	color: #000;
}

a:visited {
	color: #F00;
}

a:hover {
	color: #000;
	font-weight: bold;

}

#home{
	text-align: right;
}

#menu1 {
	text-align: center;
}

#menu2 {
	text-align: center;
}

#contactUs{
	text-align: left;
}

footer {
	position: fixed;
	top:85;
	right: 0;
	left:0;
	bottom: 0;
	text-align: center;
	background-color: white;
}

#homePageBody {
	text-align: center;
}

#foodMenuBody {
	margin: auto;
	text-align: center;
}

header {
	padding-top: 1px;
	background-color: white;
}

#restaurantDescription {
	width: 450px; 
	height: 250px; 
	border-style: 2px; 
	padding-left: 20px; 
	padding-right: 20px;
}

#row3 {
	text-decoration: underline;
}

#beverages {
	width: 20%;
	margin-left: auto;
	margin-right: auto;
}
#contactForm{
	width:60%;
	border-spacing: 15px;	
}
#column1 {
	text-align: right;
}
#name, #email, #phone, #reason, #additionalInfo, #haveYouBeen, #bestDaysOfContact {
	text-align: left;
}

#submitButton{
	padding:30px;
}
.jumbotron{
	text-align: center;
}
