#container {
	text-align: center;	
}

#playButton {
	width: 200px;
	height: 65px;
	font-size: 18px;
	background-color: #B3B3B3;
	border: 2px solid black;
	font-family: "Comic Sans MS", serif;
}

#results {
	background-color: #F2F2F2;
	padding-bottom: 30px;
	margin-right: 150px;
	margin-left: 150px;
}

form {
	font-family: "Comic Sans MS", serif;
}

caption {
	text-decoration: underline;
}

table{
	margin: auto;
	text-align: left;
}

th, td {
	height: 65px;
	width: 200px;
	padding-left: 10px;
	font-family: "Comic Sans MS", serif;
}

table, th, td {
	border: 2px solid white;
	border-collapse: collapse;
	font-size: 18px;
}

tr:first-child {
	background-color: #B3B3B3;
}