#section1 {
	text-align: center;
}

a:link {
	text-decoration: none;
	color: #000;
	display: block;
	width: 200px;
	margin-left: 43%;
}

a:visited{
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: underline;
	background: grey;
}

thead {
	background-color: grey;
}

tr {
	border-style: 2px solid #000000;
	text-align: center;
}

tbody {
	font-style: italic;
	background-color: #fffacd;
}

h1, #bandMembersTitle {
	font-family: 'Indie Flower', Monospace, Sans-Serif;
}

ul{
	margin-left: 3cm;
	font-style: italic;
}
.table {
	border: 2px; 
	width: 80%; 
	align: center; 
	border-collapse: collapse;
	margin: auto;
}
